<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jalu Simple Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jalu Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Dropdown untuk memilih basemap -->
  <ion-item>
    <ion-label>Basemap</ion-label>
    <ion-select [(ngModel)]="selectedBasemap" (ionChange)="changeBasemap()">
      <ion-select-option *ngFor="let basemap of basemaps" [value]="basemap.value">
        {{ basemap.label }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Container untuk peta -->
  <div id="container"></div>
</ion-content>
